In [115]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

In [310]:
data = pd.read_csv('kr-vs-kp1.csv',names=['bkblk','bknwy','bkon8','bkona','bkspr','bkxbq','bkxcr','bkxwp','blxwp','bxqsq','cntxt','dsopp','dwipd', 'hdchk','katri','mulch','qxmsq','r2ar8','reskd','reskr','rimmx','rkxwp','rxmsq','simpl','skach','skewr', 'skrxp','spcop','stlmt','thrsk','wkcti','wkna8','wknck','wkovl','wkpos','target']
)

In [311]:
data = data.reset_index()

In [312]:
data = pd.get_dummies(data,drop_first =True)
data

,index_t,bkblk_t,bknwy_t,bkon8_t,bkona_t,bkspr_t,bkxbq_t,bkxcr_t,bkxwp_t,blxwp_t,...,skrxp_t,spcop_t,stlmt_t,thrsk_t,wkcti_t,wkna8_t,wknck_t,wkovl_t,wkpos_t,target_won
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,1
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,1
2,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,1
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,1,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3191,1,0,0,0,0,0,1,0,0,0,...,0,1,0,0,1,0,1,0,0,0
3192,1,0,0,0,0,0,1,0,0,0,...,0,1,0,0,1,0,1,0,0,0
3193,1,0,0,0,0,0,1,0,0,0,...,0,1,0,0,1,0,1,0,0,0
3194,1,0,1,0,0,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,0
3195,1,0,1,0,0,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,0

In [329]:
data_train = data.iloc[:2237]

In [330]:
data_test = data[2237:]

In [331]:
target_train = data['target_won'][:2237]

In [332]:
target_test = data['target_won'][2237:]

In [333]:
target_train.shape

(2237,)

In [334]:
corr = data.corr()

In [335]:
corr['target_won'].abs().sort_values(ascending = False)

target_won    1.000000
reskr_t       0.452284
blxwp_t       0.380101
wkna8_t       0.365265
bkxcr_t       0.232908
hdchk_w       0.208051
wkcti_t       0.196557
qxmsq_t       0.164526
bkxbq_t       0.163828
katri_t       0.158337
wkovl_t       0.146543
bkspr_t       0.139802
skewr_t       0.130476
spcop_t       0.127724
thrsk_t       0.126350
hdchk_n       0.118672
rimmx_t       0.101402
dsopp_l       0.099563
bknwy_t       0.091163
rkxwp_t       0.087799
bkxwp_t       0.085171
dwipd_t       0.071791
bxqsq_t       0.068125
rxmsq_t       0.045605
wknck_t       0.040287
stlmt_t       0.040277
simpl_t       0.040049
bkona_t       0.038791
skach_t       0.036991
r2ar8_t       0.030839
skrxp_t       0.018496
cntxt_t       0.015390
bkon8_t       0.012806
mulch_t       0.012214
reskd_t       0.007513
bkblk_t       0.003677
index_t       0.001132
wkpos_t       0.000040
Name: target_won, dtype: float64

In [336]:
data_train = data_train.drop(['index_t','target_won','rkxwp_t','bkxwp_t','dwipd_t','bxqsq_t','rxmsq_t' ,'wknck_t','stlmt_t','simpl_t','bkona_t','skach_t','r2ar8_t','skrxp_t', 'cntxt_t','bkon8_t', 'mulch_t','reskd_t', 'bkblk_t','wkpos_t'],axis=1)

In [337]:
data_test = data_test.drop(['index_t','target_won','rkxwp_t','bkxwp_t','dwipd_t','bxqsq_t','rxmsq_t' ,'wknck_t','stlmt_t','simpl_t','bkona_t','skach_t','r2ar8_t','skrxp_t', 'cntxt_t','bkon8_t', 'mulch_t','reskd_t', 'bkblk_t','wkpos_t'],axis=1)

In [338]:
data_train

,bknwy_t,bkspr_t,bkxbq_t,bkxcr_t,blxwp_t,dsopp_l,hdchk_n,hdchk_w,katri_t,qxmsq_t,reskr_t,rimmx_t,skewr_t,spcop_t,thrsk_t,wkcti_t,wkna8_t,wkovl_t
0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,0,1
1,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,0,1
2,0,0,1,0,0,1,1,0,0,1,0,0,0,0,0,0,0,1
3,0,0,0,0,0,1,1,0,0,1,0,1,0,0,0,0,0,1
4,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2232,0,1,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0
2233,0,1,0,0,0,1,1,0,0,0,1,0,0,0,1,0,1,0
2234,0,1,0,0,0,1,1,0,0,0,1,0,0,0,1,0,1,0
2235,0,1,1,0,0,1,1,0,0,0,1,0,0,0,1,0,1,0
2236,0,1,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0